<div class="header">
  <h3 class="text-muted"><img class="vincent-logo" src="images/vincent.jpg" alt="I'm Yeoman">Vincent Chart Generator</h3>
</div>

<div class="navbar navbar-default navbar-static">
  <div class="btn-group dropdown-buttonset" dropdown is-open="dropdowns.data.isOpen">
      <button type="button" class="btn btn-primary dropdown-toggle">
        {{dropdownNames.dataset}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" ng-click="selectData('USGS_FAA')">USGS_FAA</a></li>
        <li><a href="#" ng-click="selectData('CO_WS_2011')">CO_WS_2011</a></li>
      </ul>
  </div>
  <div class="btn-group dropdown-buttonset" dropdown is-open="dropdowns.x.isOpen">
      <button type="button" class="btn btn-primary dropdown-toggle">
        {{dropdownNames.x}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="dim in dimensions"
            ng-click="selectDimension('x', dim)">
          <a href="#">{{dim}}</a>
        </li>
      </ul>
  </div>
  <div class="btn-group dropdown-buttonset" dropdown is-open="dropdowns.y.isOpen">
      <button type="button" class="btn btn-primary dropdown-toggle">
        {{dropdownNames.y}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="dim in dimensions"
            ng-click="selectDimension('y', dim)">
          <a href="#">{{dim}}</a>
        </li>
      </ul>
  </div>
  <div class="btn-group dropdown-buttonset" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Chart Type <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="type in chartTypes"><a href="#">{{type}}</a></li>
      </ul>
  </div>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="footer">
  <p>Created with
    <img class="yeoman-logo" src="images/yeoman.png" alt="I'm Yeoman">
    and
    <img class="flask-logo" src="images/flask.png" alt="I'm Flask">
  </p>
</div>
